Always use context7 when I need code generation, setup or configuration steps, or
library/API documentation. This means you should automatically use the Context7 MCP
tools to resolve library id and get library docs without me having to explicitly ask.

Whenever you need to process complex logic, use sequential thinking to break down the problem into smaller, manageable steps.

Make sure to always use memory mcp whenever we add a new feature in this project


my nextjs is 15.5.x app router tsx
my nestjs version is 11.x
my mui is 7.3.x
my formatter and linter is biome.js v2
i am using pnpm workspace for monorepo packages management
i am using turbopack for monorepo
docker for containerization
i am using node 22.x
my shared types are in @crm/types package located at /shared/types
my backend api is in @crm/api package located at /apps/backend
my frontend is in @crm/frontend package located at /apps/frontend
my database is postgresql
